body {
  font-family: sans-serif;
  margin: 0px;
}

#game {
  text-align: center;
}

#words {
  //border: 1px solid gray;
  //display: inline-block;
  //text-align: left;
  //width: 640px;
}

#words span {
  border: 1px dashed gray;
  color: transparent;
  display: inline-block;
  margin: 4px;
  padding: 4px;
  text-transform: uppercase;
}

#words span.found {
  border-color: transparent;
  color: black;
}

#input {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(lightgray));
  border-bottom: 1px solid silver;
  text-align: center;
}

#letters {
  border-color: gray lightgray lightgray gray;
  border-radius: 16px;
  display: block;
  margin: auto;
}

#letters span {
  background-color: transparent;
  border: 1px solid silver;
  border-radius: 5px;
  color: #444;
  display: inline-block;
  font-size: xx-large;
  margin: 0px 12px 0px 12px;
  text-align: center;
  text-shadow: 0px 1px white;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  vertical-align: text-bottom;
}

#letters span.selected {
  background: ivory;
  border-color: gray lightgray transparent;
  color: black;
  text-shadow: 2px 2px 2px lightgray;
}

#letters span.infocus {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(gold), color-stop(0.5, orange), to(gold));
  text-shadow: none;
  -webkit-transition: linear 1s background;
}

input {
  -webkit-box-shadow: 0px 1px white;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(gray), color-stop(0.05, silver), color-stop(0.5, ivory), to(white));
  border: 1px solid silver;
  border-collapse: collapse;
  border-radius: 5px;
  font-size: xx-large;
  text-align: center;
  text-transform: uppercase;
}
