body {
  background: -webkit-gradient(linear, left top, right top,
      from(lightgray),
        to(lightgray),
      color-stop(0.15,ivory),
      color-stop(0.85,white));
  font-family: sans-serif;
}

#game {
  text-align: center;
}

#words {
  border: 1px solid gray;
  display: inline-block;
  text-align: left;
  width: 640px;
}

#words span {
  border: 1px dashed lightgray;
  color: transparent;
  display: inline-block;
  margin: 4px;
  padding: 4px;
  text-transform: uppercase;
}

#words span.found {
  border-color: transparent;
  color: black;
}

#letters {
  background: -webkit-gradient(linear, left top, left bottom, from(lightgray), to(gray));
  background-color: lightgray;
  border-color: gray lightgray lightgray gray;
  border-radius: 16px;
  display: inline-block;
  margin: auto;
  padding: 24px 12px;
}

#letters span {
  background: -webkit-gradient(linear, left top, left bottom, from(ivory), to(lightgray));
  background-color: lightgray;
  border: 1px solid ivory;
  border-radius: 8px;
  color: gray;
  display: inline-block;
  font-size: xx-large;
  margin: 0px 12px 0px 12px;
  text-align: center;
  text-shadow: 1px 1px white;
  text-transform: uppercase;
  width: 48px;
  height: 48px;
  vertical-align: text-bottom;
}

#letters span.selected {
  background: ivory;
  border-color: gray lightgray transparent;
  color: black;
  text-shadow: 2px 2px 2px lightgray;
}

#letters span.infocus {
  border-color: orange;
}

input {
  border-radius: 8px;
  font-size: xx-large;
  text-align: center;
  text-transform: uppercase;
}
